<!-- Modal -->
<div class="modal modal-2 fade" id="exampleModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"> <i class="pe-7s-close"></i></button>
                <div class="row">
                    <div class="col-lg-6 col-sm-12 col-xs-12 mb-lm-30px mb-md-30px mb-sm-30px">
                        <!-- Swiper -->
                        <div class="swiper-container gallery-top">
                            <div class="swiper-wrapper" id="quickview-gallery-top">
                                <!-- Las imágenes se cargarán dinámicamente aquí -->
                            </div>
                        </div>
                        <div class="swiper-container gallery-thumbs mt-20px slider-nav-style-1 small-nav">
                            <div class="swiper-wrapper" id="quickview-gallery-thumbs">
                                <!-- Las miniaturas se cargarán dinámicamente aquí -->
                            </div>
                            <!-- Add Arrows -->
                            <div class="swiper-buttons">
                                <div class="swiper-button-next"></div>
                                <div class="swiper-button-prev"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12 col-xs-12" data-aos="fade-up" data-aos-delay="200">
                        <div class="product-details-content quickview-content">
                            <h2 id="quickview-title">Cargando...</h2>
                            <div class="pricing-meta">
                                <ul class="d-flex" id="quickview-price">
                                    <!-- El precio se cargará dinámicamente aquí -->
                                </ul>
                            </div>
                            <div class="pro-details-rating-wrap">
                                <div class="rating-product">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <!-- <span class="read-review"><a class="reviews" href="#">( 2 Review )</a></span> -->
                            </div>
                            <p class="mt-30px" id="quickview-description">
                                <!-- La descripción se cargará dinámicamente aquí -->
                            </p>
                            <div class="pro-details-categories-info pro-details-same-style d-flex m-0">
                                <span>SKU:</span>
                                <ul class="d-flex" id="quickview-sku">
                                    <!-- El SKU se cargará dinámicamente aquí -->
                                </ul>
                            </div>
                            <div class="pro-details-categories-info pro-details-same-style d-flex m-0">
                                <span>Categoria: </span>
                                <ul class="d-flex" id="quickview-category">
                                    <!-- La categoría se cargará dinámicamente aquí -->
                                </ul>
                            </div>
                            <div class="pro-details-categories-info pro-details-same-style d-flex m-0">
                                <span>Tags: </span>
                                <ul class="d-flex" id="quickview-tags">
                                    <!-- Los tags se cargarán dinámicamente aquí -->
                                </ul>
                            </div>
                            <div class="pro-details-quality">
                                <div class="cart-plus-minus">
                                    <input class="cart-plus-minus-box" type="text" name="qtybutton" value="1" />
                                </div>
                                <div class="pro-details-cart">
                                    <button class="add-cart"> Añadir</button>
                                </div>
                                <div class="pro-details-compare-wishlist pro-details-wishlist ">
                                    <a href="#" realhref="wishlist.html"><i class="pe-7s-like"></i></a>
                                </div>
                            </div>
                            <div class="payment-img">
                                <a href="#"><img src="assets/images/icons/payment.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal end -->
<!-- Modal Cart -->
<div class="modal customize-class fade" id="exampleModal-Cart" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="pe-7s-close"></i></button>
                <div class="tt-modal-messages">
                    <i class="pe-7s-check"></i> Añadido al carrito con éxito!
                </div>
                <div class="tt-modal-product">
                    <div class="tt-img">
                        <img id="cart-modal-image" src="" alt="Detalle Orden">
                    </div>
                    <h2 class="tt-title" id="cart-modal-title"><a href="#">Detalle de la orden</a></h2>
                </div>
            </div>
        </div>
    </div>
</div>     
<!-- Modal wishlist -->
<div class="modal customize-class fade" id="exampleModal-Wishlist" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="pe-7s-close"></i></button>
                <div class="tt-modal-messages">
                    <i class="pe-7s-check"></i> Añadido a me gusta con éxito!
                </div>
                <div class="tt-modal-product">
                    <div class="tt-img">
                        <img id="wishlist-modal-image" src="" alt="Detalle Orden">
                    </div>
                    <h2 class="tt-title" id="wishlist-modal-title"><a href="#">Detalle de la orden</a></h2>
                </div>
            </div>
        </div>
    </div>
</div>    
<!-- Modal compare -->
<div class="modal customize-class fade" id="exampleModal-Compare" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="pe-7s-close"></i></button>
                <div class="tt-modal-messages">
                    <i class="pe-7s-check"></i> Añadido para comparar exitosamente!
                </div>
                <div class="tt-modal-product">
                    <div class="tt-img">
                        <img id="compare-modal-image" src="" alt="Detalle">
                    </div>
                    <h2 class="tt-title" id="compare-modal-title"><a href="#">Detalles</a></h2>
                </div>
            </div>
        </div>
    </div>
</div>
