<header>
    <!-- Header top area start -->
    <div class="header-top">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col">
                    <div class="welcome-text">
                        <p>{{welcomeMessage}}</p>
                    </div>
                </div>
                <div class="col d-none d-lg-block">
                    <div class="top-nav">
                        <ul>
                            <li><a href="tel:{{phoneClean}}"><i class="fa fa-phone"></i> {{phone}}</a></li>
                            <li><a href="mailto:{{email}}"><i class="fa fa-envelope-o"></i> {{email}}</a></li>
                            <li><a href="#" realref="my-account.html"><i class="fa fa-user"></i> {{accountText}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header top area end -->
    <!-- Header action area start -->
    <div class="header-bottom  d-none d-lg-block">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-3 col">
                    <div class="header-logo">
                        <a href="index.html"><img src="{{logo}}" alt="IT Secur Logo" /></a>
                    </div>
                </div>
                <div class="col-lg-6 d-none d-lg-block">
                    <div class="search-element">
                        <form action="#" id="search-form-desktop" class="search-form">
                            <input type="text" id="search-input-desktop" class="search-input" placeholder="Buscar producto" autocomplete="off" />
                            <button type="submit"><i class="pe-7s-search"></i></button>
                            <div id="search-results-desktop" class="search-results"></div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-3 col">
                    <div class="header-actions">
                        <!-- Single Wedge Start -->
                        <a href="#offcanvas-wishlist" class="header-action-btn offcanvas-toggle">
                            <i class="pe-7s-like"></i>
                        </a>
                        <!-- Single Wedge End -->
                        {{cartButton}}
                        <a href="#offcanvas-mobile-menu" class="header-action-btn header-action-btn-menu offcanvas-toggle d-lg-none">
                            <i class="pe-7s-menu"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header action area end -->
    <!-- Header action area start -->
    <div class="header-bottom d-lg-none sticky-nav style-1">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-3 col">
                    <div class="header-logo">
                        <a href="index.html"><img src="{{logo}}" alt="Site Logo" /></a>
                    </div>
                </div>
                <div class="col-lg-6 d-none d-lg-block">
                    <div class="search-element">
                        <form action="#" id="search-form-mobile-header" class="search-form">
                            <input type="text" id="search-input-mobile-header" class="search-input" placeholder="Buscar Producto" autocomplete="off" />
                            <button type="submit"><i class="pe-7s-search"></i></button>
                            <div id="search-results-mobile-header" class="search-results"></div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-3 col">
                    <div class="header-actions">
                        <!-- Single Wedge Start -->
                        <a href="#offcanvas-wishlist" class="header-action-btn offcanvas-toggle">
                            <i class="pe-7s-like"></i>
                        </a>
                        <!-- Single Wedge End -->
                        {{cartButtonMobile}}
                        <a href="#offcanvas-mobile-menu" class="header-action-btn header-action-btn-menu offcanvas-toggle d-lg-none">
                            <i class="pe-7s-menu"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header action area end -->
    <!-- header navigation area start -->
    <div class="header-nav-area d-none d-lg-block sticky-nav">
        <div class="container">
            <div class="header-nav">
                <div class="main-menu position-relative">
                    <ul>
                        {{menuItems}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- header navigation area end -->
    <div class="mobile-search-box d-lg-none">
        <div class="container">
            <!-- mobile search start -->
            <div class="search-element max-width-100">
                <form action="#" id="search-form-mobile" class="search-form">
                    <input type="text" id="search-input-mobile" class="search-input" placeholder="Buscar Producto" autocomplete="off" />
                    <button type="submit"><i class="pe-7s-search"></i></button>
                    <div id="search-results-mobile" class="search-results"></div>
                </form>
            </div>
            <!-- mobile search start -->
        </div>
    </div>
</header>
